.container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.875rem;

    height: 4.5rem;
    padding: 1rem;
    background: var(--gray-500);

    border-radius: 0.5rem;
}

.inputCheckbox {
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
}

.checkboxSpan {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--blue-400);
}

.buttonRemove {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: var(--gray-300);
    height: 1rem;
    cursor: pointer;
  }
  
  .buttonRemove:hover {
    background: var(--gray-400);
    color: var(--red-400);
  }
  
