.taskCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: var(--gray-500);

    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    margin-bottom: 0.875rem;
    border-radius: 8px;
}

.taskText {
  width: 100%;
  padding-left: 1rem;
}

.taskTextCompleted {
  text-decoration: line-through;
  color: var(--gray-300);
}

.inputCheckbox {
  width: 1;
  height: 1;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkboxSpan {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--blue-400);
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.checked {
  background: var(--purple-700);
  border-color: var(--purple-700);
}


.buttonRemove {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: var(--gray-300);
    height: 1rem;
    cursor: pointer;
  }
  
  .buttonRemove:hover {
    background: var(--gray-400);
    color: var(--red-400);
  }
  
